<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/" method="post">
      <div class="form-group">
        <p>Enter number of iterations:</p>
        <input class="form-control" type="text" name="iterations" placeholder="Enter number of iterations...">
      </div>

      <div class="form-group">
        <p>Choose csv file:</p>
        <input class="form-control" type="file" name="seed">
      </div>

      <div class="col-md-6 col-md-offset-4">
        <input class="btn btn-lg btn-primary" type="submit">
      </div>
    </form>
  </div>
</div>
