<form action="/" method="post">
  <div>
    <input type="text" name="size" placeholder="Enter size of playground...">
  </div>
  <div>
    <input type="text" name="iterations" placeholder="Enter number of iterations...">
  </div>
  <div>
    <input type="file" name="seed">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
